.pg_pay main { padding: 55px 20px 0; } 
.pg_pay main .top { margin-top: 20px; padding-bottom: 35px; border-bottom: 1px solid #f5f5f5;} 
.pg_pay main .top > p { color: var(--basic-black, #222); font-size: 16px; font-weight: 700; line-height: 30px; white-space: pre-line; } 
.pg_pay main .top > span{
    color: var(--gray-gray-03, #999);
    font-size: 12px;
    font-weight: 500;
    display: block;
}
.pg_pay main .middle { margin-top: 35px; padding-bottom: 35px; border-bottom: 1px solid #f5f5f5;} 
.pg_pay main .middle > p { color: var(--basic-black, #222); font-size: 16px; font-weight: 700; line-height: 30px; white-space: pre-line; } 
.pg_pay main .middle > span{
    color: var(--gray-gray-03, #999);
    font-size: 12px;
    font-weight: 500;
    display: block;
}
.pg_pay main .bottom { margin-top: 35px; padding-bottom: 35px; border-bottom: 1px solid #f5f5f5;} 
.pg_pay main .bottom > p { color: var(--basic-black, #222); font-size: 16px; font-weight: 700; line-height: 30px; white-space: pre-line; } 
.pg_pay main .bottom > span{
    color: var(--gray-gray-03, #999);
    font-size: 12px;
    font-weight: 500;
    display: block;
}

.pg_pay main .bottom :is(input, textarea){
    display: block;
    width: 100%;
    margin-top: 16px;
    border-radius: 10px;
    border: 1px solid var(--gray-gray-05, #E9E9E9);
    padding: 15px;
}
.pg_pay main .bottom textarea{
    height: 160px;
    overflow: auto;
}

.top .wrap_type > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.top input[type="radio"] {
    margin-right: 10px;
    accent-color: var(--primary);
  }
  
  .top .wrap_type label {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: auto;
    color: var(--gray-gray-01, #404040);
    font-size: 14px;
    font-weight: 500;
  }

  .top label span{
    display: block;
    color: var(--gray-gray-03, #999);
    font-size: 12px;
    font-weight: 400;
  }
  
  .top .quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .top .quantity-controls button {
    padding: 5px 10px;
    margin: 0 5px;
  }

  .top .quantity-controls .btn_minus{
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='18' height='18' rx='4' stroke='%23CDCDCD' stroke-width='2'/%3E%3Cline x1='15.0527' y1='9.94727' x2='5.21063' y2='9.94727' stroke='%23CDCDCD' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }

  .top .quantity-controls .btn_plus{
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='18' height='18' rx='4' stroke='%236E4DDC' stroke-width='2'/%3E%3Cline x1='10.1841' y1='5.21094' x2='10.1841' y2='15.053' stroke='%236E4DDC' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='15.0527' y1='9.94727' x2='5.21063' y2='9.94727' stroke='%236E4DDC' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  
  .top .quantity-controls input[type="number"] {
    width: 25px;
    text-align: center;
    border: 0;
    color: var(--gray-gray-03, #999);
    font-size: 16px;
    font-weight: 600;
  }

  .wrap_coupon{
    width: 300px;
    margin: 0 auto;
    margin-top: 28px;
  }

  .wrap_coupon > label{
    display: flex;
    align-items: center;
  }

  .wrap_coupon .coupon{
    display: flex;
    align-items: center;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-gray-04, #CDCDCD);
    padding: 20px 0;
    gap: 0 8px;
    pointer-events: none;
  }

  .wrap_coupon .coupon p:nth-of-type(1){
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
    }
    .wrap_coupon .coupon p:nth-of-type(2){
        color: var(--gray-gray-01, #404040);
        font-size: 14px;
        line-height: 22px;
    }
    .wrap_coupon .coupon p:nth-of-type(3){
        color: var(--gray-gray-03, #999);
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
    }
    .wrap_coupon .coupon p:nth-of-type(3) span{
        color: var(--gray-gray-02, #686868);
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
    }

  .wrap_coupon .coupon + p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4px;
    color: #A0A0A0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 24px;
 }

 .wrap_coupon .coupon + p a{
    color: var(--connectors-main-color, #6E4DDC);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: underline;
 }

  .wrap_coupon input[type="checkbox"]{
    margin-right: 8px;
  }

  .wrap_coupon input[type="checkbox"]{
    appearance: none;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    cursor: pointer;
    height: 18px;
    outline: 0;
    width: 18px;
    margin-left: 5px;
  }

 .wrap_coupon input[type="checkbox"]::after{
    border: solid #cdcdcd;
    border-width: 0 2px 2px 0;
    content: "";
    display: none;
    height: 40%;
    left: 40%;
    position: relative;
    top: 20%;
    transform: rotate(45deg);
    width: 15%;
  }

  .wrap_coupon input[type="checkbox"]:checked{
    background: #fff;
    border-color: #6e4ddc;
  }

  .wrap_coupon input[type="checkbox"]:checked::after{
    border-color: #6e4ddc;
    display: block;
  }

  .wrap_amount{
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      border: 1.5px solid var(--connectors-main-color, #6E4DDC);
      background: rgba(226, 219, 248, 0.30);
      padding: 15px;
      margin-top: 24px;
   }

  .wrap_amount span:nth-of-type(1){
    font-size: 16px;
    font-weight: 600;
    }

  .wrap_amount span:nth-of-type(2){
    color: var(--connectors-main-color, #6E4DDC);
    font-size: 16px;
    font-weight: 700;
    }

    .wrap_time{
        margin-top: 16px;
    }

    .wrap_time .time_selected{
        color: var(--gray-gray-02, #686868);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; 
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.191 3.25L2.81011 3.25C2.17102 3.25 1.78271 3.89316 2.13057 4.38847L6.32103 10.4061C6.39399 10.5114 6.49493 10.5982 6.61444 10.6583C6.73396 10.7185 6.86818 10.75 7.00461 10.75C7.14105 10.75 7.27526 10.7185 7.39478 10.6583C7.5143 10.5982 7.61523 10.5114 7.68819 10.4061L11.8706 4.38847C11.9495 4.27696 11.994 4.14806 11.9994 4.01536C12.0049 3.88266 11.971 3.75107 11.9014 3.63449C11.8318 3.51792 11.7291 3.42066 11.6041 3.35299C11.479 3.28531 11.3363 3.24973 11.191 3.25Z' fill='%236E4DDC'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center right;
        border-bottom: 1px solid var(--primary);
        padding: 14px 0;
        margin-top: 20px;
    }

.wrap_bottom { display: flex; gap: 0 15px; padding: 13px 15px 25px; margin-top: 30px; border-top: 1px solid var(--gray-gray-04, #cdcdcd); } 
.wrap_bottom button { flex: 1; padding: 16px 0; border-radius: 8px; background: var(--connectors-main-color, #6e4ddc); color: var(--basic-white, #fff); font-size: 20px; font-weight: 600; } 
.wrap_bottom .wrap_like { width: 60px; display: flex; flex-direction: column; align-items: center; gap: 4px 0; } 
  

/* calendar */


.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    background-color: #fefefe;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0 20px;
  }

  .modal-content > p{

    color: var(--basic-black, #222);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.36px; padding-left: 20px; margin-top: 10px; margin-top: 20px;

  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* left-datepicker*/

.ui-datepicker {
    width: 430px;
    padding: 0;
    border: 0;
    color: #161616;
  }
  .ui-widget.ui-widget-content {
    border: 0;
    border-radius: 3px;
    overflow: hidden;
  }
  .ui-datepicker .ui-widget-header {
    width: 90%;
    position: relative;
    padding: 6px 0 20px 0;
    border: 0;
    color: #fff;
    border-radius: 0;
    margin: 30px auto;
    background: transparent;
    margin-top: 30px;
  }
  .ui-datepicker select.ui-datepicker-month,
  .ui-datepicker select.ui-datepicker-year {
    height: 26px;
    line-height: 26px;
    background: #6e4ddc no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: -4px; /* 화살표 없애기 */
  }
  .ui-datepicker .ui-datepicker-title {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #222222;
    letter-spacing: 0;
  }
  .ui-datepicker-title .ui-datepicker-year option,
  .ui-datepicker-title .ui-datepicker-month option {
    background: #fff;
    color: #333;
  }
  .ui-datepicker-title .ui-datepicker-month {
    text-align: right !important;
  }
  .ui-datepicker .ui-datepicker-calendar {
    position: relative;
    width: 260px;
    padding-top: 100px;
    margin: 0 auto;
  }
  .ui-datepicker-calendar thead tr {
    position: absolute;
    top: -38px;
    left: 0px;
    right: 0px;
  }
  .ui-datepicker-calendar thead th {
    float: left;
    display: block;
    padding: 0;
    width: 14.2857%;
    font-size: 18px;
    letter-spacing: 1px;
    opacity: 0.6;
  }
  
  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 11px;
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
    color: transparent;
  }

  .ui-datepicker-calendar .ui-datepicker-week-end:first-child :is(span, a) {
    color: #E01C52 ; 
}

.ui-datepicker-calendar .ui-datepicker-week-end:last-child :is(span, a) {
    color: #1A9FFA ;
}

  .ui-datepicker .ui-state-default {
    display: block;
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    background: #fff;
    font-weight: normal;
    color: #333;
    box-sizing: border-box;
  }
  /* .ui-datepicker .ui-state-default.ui-state-hover { background: rgba(0,0,0,0.05); }  */
  .ui-datepicker-today .ui-state-default {
    color: #6e4ddc;
    font-weight: bold;
  }
  .ui-datepicker-current-day .ui-state-default {
    background: #6e4ddc !important;
    color: #fff !important;
    font-weight: bold;
  }
  .ui-datepicker-buttonpane {
    overflow: hidden;
    border-top: 1px solid #eee;
  }
  .ui-datepicker-buttonpane button[data-handler="today"] {
    color: #6e4ddc;
    opacity: 0.75;
  }
  
  #ui-datepicker-div {
    padding: 0 10px;
    padding-bottom: 21px;
  }

  #ui-datepicker-div > * {
    background: #f0f0f0;
  }
  .ui-datepicker-trigger {
    display: none;
  }
  .ui-widget input,
  .ui-widget select,
  .ui-widget textarea,
  .ui-widget button {
    font-family: "Noto Sans KR", sans-;
  }

  .ui-datepicker select.ui-datepicker-month,
  .ui-datepicker select.ui-datepicker-year {
    padding: 0 5px;
    background: #fff;
    color: #222222;
    font-weight: bold;
    text-align: center;
    outline: none;
    cursor: pointer;
  }
  .ui-datepicker .ui-datepicker-calendar {
    width: 95%;
    margin-bottom: 21px;
  }
  .ui-datepicker .ui-state-default {
    height: 35px;
    font-size: 16px;
  }
  .ui-state-disabled,
  .ui-widget-content .ui-state-disabled,
  .ui-widget-header .ui-state-disabled {
    opacity: 0;
  }
  .ui-datepicker .ui-datepicker-next {
    right: -10px;
  }
  .ui-widget.ui-widget-content {
    display: none;
    width: 100%;
    border-radius: 30px;
  }
  .ui-datepicker-title::after {
    content: "월";
  }
  .ui-datepicker select.ui-datepicker-year {
    width: 50px;
    padding: 0;
  }
  
  /* time */
  div.wrap_time_select{
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.time_select{
    border-radius: 5px;
    background: var(--basic-bg-color, #F5F6F9);
    text-align: center;
    padding: 10px 0;
    color: #8B9CB3;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.time_select:active{
    background: var(--connectors-main-color, #6E4DDC);
    text-align: center;
    color: var(--basic-white, #FFF);
    font-size: 14px;
    font-weight: 600;
}