main{padding:55px 15px 80px; height: 100%; display: flex; flex-direction: column; justify-content: space-between; }
main .middle{
    margin-top: 30px;
    margin-bottom: auto;
}
main .middle p{
    color: var(--basic-black, #222);
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        white-space: pre-line;
}

main .bottom{
    margin-top: 30px;
}

/* sign_in, sign_up01 */
.pg_sign.sign_in,.pg_sign.sign_up01 { background-image: url(../img/signup/bg_sign_in.png); background-repeat: no-repeat; background-position: center; background-size: cover; } 
.pg_sign.sign_in main, .pg_sign.sign_up01 main{ padding: 30px 15px 80px;}
.pg_sign.sign_up01 .bottom { margin-top: auto; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .bubble { position: relative; width: 150px; padding: 10px; margin: 0 auto; background: #fff; border-radius: 0.4em; box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1); text-align: center; font-size: 12px; font-weight: 500; line-height: 20px; margin-bottom: 30px; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .bubble:after { content: ""; position: absolute; bottom: 0; left: 20%; width: 0; height: 0; border: 20px solid transparent; border-top-color: #fff; border-bottom: 0; border-left: 0; margin-left: -10px; margin-bottom: -20px; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .wrap_btn { display: flex; flex-direction: column; gap: 10px 0; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .wrap_btn button { display: flex; justify-content: center; align-items: center; padding: 20px; border-radius: 8px; color: #191919; font-size: 16px; font-weight: 600; line-height: 20px; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .wrap_btn button span { margin-right: auto; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .wrap_btn button:nth-of-type(1) { background: #fff; border: 1px solid var(--gray-gray-04, #cdcdcd); } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .wrap_btn button:nth-of-type(2) { background: #fee500; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .wrap_btn button:nth-of-type(3) { background: var(--primary); } 
.pg_sign:is(.sign_in, .sign_up01)
 main
 .bottom
 .wrap_btn
 button:nth-of-type(3)
 span { color: #fff; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .wrap_btn button img { margin-right: auto; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .question { display: flex; justify-content: center; align-items: center; gap: 0 5px; margin-top: 30px; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .question { color: #a0a0a0; font-size: 14px; font-style: normal; font-weight: 400; line-height: 22px; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .question a { color: #6e4ddc; font-size: 14px; font-weight: 500; line-height: 22px; text-decoration-line: underline; } 
.pg_sign:is(.sign_in, .sign_up01) main .bottom .question p { color: #a0a0a0; font-size: 14px; font-weight: 400; line-height: 22px; } 

/* sign_up02 */
.sign_up02  main .middle{margin-bottom: 0;}
.sign_up02  main .bottom{margin-bottom: auto;}
.pg_sign.sign_up02 main .bottom .wrap_label { display: flex; flex-direction: column; gap: 15px 0; } 
.pg_sign.sign_up02 main .bottom .wrap_label label { display: flex; flex-direction: row-reverse; justify-content: space-between; align-items: center; border-radius: 8px; padding: 15px 10px; } 
.pg_sign.sign_up02 main .bottom .wrap_label label:nth-of-type(1) { font-size: 16px; font-weight: 500; background: var(--bg); }
.pg_sign.sign_up02 input[type="checkbox"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff; border: 2px solid #cdcdcd; border-radius: 4px; cursor: pointer; height: 18px; outline: 0; width: 18px; margin-left: 10px; } 
.pg_sign.sign_up02 input[type="checkbox"]::after { display: block; border: solid #cdcdcd; border-width: 0 2px 2px 0; content: ""; height: 40%; left: 40%; position: relative; top: 20%; transform: rotate(45deg); width: 15%; } 
.pg_sign.sign_up02 input[type="checkbox"]:checked { background: #fff; border-color: #6e4ddc;} 
.pg_sign.sign_up02 label:nth-of-type(1) input[type="checkbox"]:checked { background: #fff; border-color: #6e4ddc; border-width: 0;} 
.pg_sign.sign_up02 input[type="checkbox"]:checked::after { border-color: #6e4ddc; display: block; } 
.pg_sign.sign_up02 #chkAll:checked + span { color: #fff; } 
.pg_sign main .bottom .wrap_label label span { text-decoration: underline; font-size: 13px; font-weight: 400; } 
.pg_sign main .bottom .wrap_label label:nth-of-type(1) span{font-size:16px; text-decoration: none;}

/* sign_up03, find_pw_new */
.pg_sign:is(.sign_up03,.find_pw_new) main .middle{margin-bottom:0;}
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom { margin-bottom: auto; } 
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom .wrap_label { display: flex; flex-direction: column; } 
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom .wrap_label label { position: relative; font-size: 13px; font-weight: 500; } 
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom .wrap_label label:nth-of-type(2) { margin-top: 30px; } 
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom .wrap_label label:nth-of-type(3) { margin-top: 15px; } 
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom .wrap_label label:nth-of-type(2) { margin-top: 30px; } 
.pg_sign.sign_up03 main .bottom .wrap_label label:nth-of-type(1):before { content: "이메일 아이디"; font-size: 13px; font-weight: 500; } 
.pg_sign.find_pw_new main .bottom .wrap_label label:nth-of-type(1):before { content: "비밀번호"; } 
.pg_sign.sign_up03 main .bottom .wrap_label label:nth-of-type(2):before { content: "비밀번호"; } 
.pg_sign.find_pw_new main .bottom .wrap_label label:nth-of-type(2):before { content: "비밀번호 확인"; } 
.pg_sign.sign_up03 main .bottom .wrap_label label:nth-of-type(3):before { content: "비밀번호 확인"; } 
.pg_sign.sign_up03 main .bottom .wrap_label label:nth-of-type(2):after { content: "영문 + 숫자 + 특수문자 8~15자리"; color: #8b71e3; font-family: Pretendard; font-size: 12px; } 
.pg_sign.find_pw_new main .bottom .wrap_label label:nth-of-type(1):after { content: "영문 + 숫자 + 특수문자 8~15자리"; color: #8b71e3; font-family: Pretendard; font-size: 12px; } 
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom .wrap_label input { width: 100%; height: 50px; border: 0; background: #f5f6f9; border-radius: 8px; display: block; padding-left: 10px; margin-top: 8px; } 
.pg_sign.find_pw_new main .bottom .wrap_label label:nth-of-type(1) input + img { position: absolute; right: 15px; bottom: 30px; } 
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom .wrap_label label:nth-of-type(2) input + img { position: absolute; right: 15px; bottom: 30px; } 
.pg_sign.sign_up03 main .bottom .wrap_label label:nth-of-type(3) input + img { position: absolute; right: 15px; bottom: 15px; } 
.pg_sign:is(.sign_up03,.find_pw_new) main .bottom .wrap_label label + p { color: #8b71e3; font-family: Pretendard; font-size: 12px; font-weight: 400; margin-bottom: auto; } 

/* sign_in_email */
.pg_sign.sign_in_email main .bottom .wrap_label { display: flex; flex-direction: column; gap: 30px 0; } 
.pg_sign.sign_in_email main .bottom .wrap_label label { position: relative; font-size: 13px; font-weight: 500; } 
.pg_sign.sign_in_email main .bottom .wrap_label label:nth-of-type(1):before { content: "이메일 아이디"; font-size: 13px; font-weight: 500; } 
.pg_sign.sign_in_email main .bottom .wrap_label label:nth-of-type(2):before { content: "비밀번호"; } 
.pg_sign.sign_in_email
 main
 .bottom
 .wrap_label
 input:is([type="text"], [type="password"]) { width: 100%; height: 50px; border: 0; background: #f5f6f9; border-radius: 8px; display: block; padding-left: 10px; margin-top: 8px; } 
.pg_sign.sign_in_email main .bottom .wrap_label input[type="checkbox"] { accent-color: var(--primary); margin-right: 5px; } 
.pg_sign.sign_in_email
 main
 .bottom
 .wrap_label
 label:nth-of-type(2)
 input
 + img { position: absolute; right: 15px; bottom: 16px; width: 22px; height: 20px; } 
.pg_sign.sign_in_email main .bottom .wrap_label label + p { color: #8b71e3; font-family: Pretendard; font-size: 12px; font-weight: 400; margin-bottom: auto; } 
.pg_sign.sign_in_email main .bottom .flexbox { display: flex; justify-content: space-between; } 
.pg_sign.sign_in_email main .bottom .auto_login { display: flex; justify-content: flex-start; align-items: center; } 
.pg_sign.sign_in_email main .bottom div.wrap_a { display: flex; align-items: center; } 
.pg_sign.sign_in_email main .bottom div.wrap_a a { color: var(--gray-gray-03, #999); text-align: center; font-size: 12px; font-weight: 400; margin: 0 8px; } 
.pg_sign.sign_in_email main .bottom .flexbox label:before { content: "" !important; } 
.pg_sign.sign_in_email main .bottom button { border-radius: 8px; background: var(--primary); color: var(--basic-white, #fff); font-size: 20px; font-weight: 600; padding: 20px; } 
.pg_sign.sign_in_email main .bottom_add { margin-top: auto; } 
.pg_sign.sign_in_email main .bottom_add .wrap_img { display: flex; justify-content: center; gap: 0 25px; } 
.pg_sign.sign_in_email main .bottom_add .wrap_img { display: flex; justify-content: center; gap: 0 25px; margin-top: 15px; } 
.pg_sign.sign_in_email main .bottom_add p { display: flex; justify-content: center; align-items: center; gap: 0 4px; color: #a0a0a0; font-family: SUIT; font-size: 14px; font-style: normal; font-weight: 400; line-height: 22px; margin-top: 30px; } 
.pg_sign.sign_in_email main .bottom_add p a { color: var(--primary); text-align: center; font-size: 14px; font-weight: 500; text-decoration-line: underline; } 

/* verify_mobile */
.pg_sign.verify_mobile main .middle{margin-bottom: 0;}
.pg_sign.verify_mobile main .bottom{margin-bottom: auto;}
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(1) { position: relative; display: flex; flex-direction: row-reverse; justify-content: space-between; align-items: center; height: 50px; font-size: 13px; font-weight: 500; background: var(--bg); border-radius: 8px; padding: 15px 10px; margin-top: 30px; } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(1):before { position: absolute; display: block; content: "이용약관 동의"; top: -28px; left: 0; } 
.pg_sign.verify_mobile input[type="checkbox"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff; border: 1px solid #cdcdcd; border-radius: 4px; cursor: pointer; height: 18px; outline: 0; width: 18px; margin-left: 10px; } 
.pg_sign.verify_mobile input[type="checkbox"]::after { border: solid #cdcdcd; border-width: 0 2px 2px 0; content: ""; display: none; height: 40%; left: 40%; position: relative; top: 20%; transform: rotate(45deg); width: 15%; } 
.pg_sign.verify_mobile input[type="checkbox"]:checked { background: #fff; border-color: #6e4ddc; } 
.pg_sign.verify_mobile input[type="checkbox"]:checked::after { border-color: #6e4ddc; display: block; } 
.pg_sign.verify_mobile #chkAll:checked + span { color: #fff; } 
.pg_sign.verify_mobile main .bottom .wrap_label { display: flex; flex-direction: column; } 
.pg_sign.verify_mobile main .bottom .wrap_label label span { text-decoration: underline; font-size: 13px; font-weight: 400; } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(2) { margin-top: 10px; } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(2):before { display: block; content: attr(title); font-size: 13px; } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(2) { position: relative; } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(2) input { width: 100%; height: 50px; background-color: var(--bg); border: none; font-size: 14px; padding: 15px 10px; margin-top: 8px; outline: none; border-radius: 8px; } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(2) button { position: absolute; top: 36px; right: 20px; border-radius: 500px; border: 1px solid var(--gray-gray-04, #cdcdcd); background: #fff; padding: 5px; font-size: 12px; } 
.pg_sign.verify_mobile > button.active { background: var(--primary); } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(3) { position: relative; margin-top: 20px; } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(3) input { width: 100%; height: 50px; border-radius: 8px; border: 1px solid var(--purple-400, #8b71e3); padding-left: 10px; margin-top: 8px; outline: none; } 
.pg_sign.verify_mobile main .bottom .wrap_label label[title="인증 번호"] { display: none; } 
.pg_sign.verify_mobile
 main
 .bottom
 .wrap_label
 label[title="인증 번호"].active { display: block; } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(3)::before { display: block; content: attr(title); } 
.pg_sign.verify_mobile main .bottom .wrap_label label:nth-of-type(3) .timer { position: absolute; top: 45px; right: 20px; color: var(--purple-400, #8b71e3); text-align: center; font-size: 12px; font-weight: 400; text-decoration: none; } 

/* find */
.pg_sign.find main .middle{margin-bottom:0;}
.pg_sign.find .bottom { margin-bottom: auto; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(1) { position: relative; display: flex; flex-direction: row-reverse; justify-content: space-between; align-items: center; height: 50px; font-size: 13px; font-weight: 500; background: var(--bg); border-radius: 8px; padding: 0 17.5px; margin-top: 30px; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(1):before { position: absolute; display: block; content: "이용약관 동의"; top: -28px; left: 0; } 
.pg_sign.find input[type="checkbox"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff; border: 2px solid #cdcdcd; border-radius: 4px; cursor: pointer; height: 18px; outline: 0; width: 18px; margin-left: 10px; } 
.pg_sign.find input[type="checkbox"]::after { display: block; border: solid #cdcdcd; border-width: 0 2px 2px 0; content: ""; height: 40%; left: 40%; position: relative; top: 20%; transform: rotate(45deg); width: 15%; } 
.pg_sign.find input[type="checkbox"]:checked { background: #fff; border-color: #6e4ddc; border-width: 0px;} 
.pg_sign.find input[type="checkbox"]:checked::after { border-color: #6e4ddc; display: block; } 
.pg_sign.find #chkAll:checked + span { color: #fff; } 
.pg_sign.find main .bottom .wrap_label { display: flex; flex-direction: column; } 
.pg_sign.find main .bottom .wrap_label label span { text-decoration: underline; font-size: 13px; font-weight: 400; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(2) { margin-top: 10px; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(2):before { display: block; content: attr(title); font-size: 13px; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(2) { position: relative; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(2) input { width: 100%; height: 50px; background-color: var(--bg); border: none; font-size: 14px; padding: 15px 10px; margin-top: 8px; outline: none; border-radius: 8px; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(2) button { position: absolute; top: 36px; right: 20px; border-radius: 500px; border: 1px solid var(--gray-gray-04, #cdcdcd); background: #fff; padding: 4px 10px; } 
.pg_sign.find > button { border-radius: 8px; color: var(--basic-white, #fff); font-size: 20px; font-weight: 600; outline: none; } 
.pg_sign.find > button.active { background: var(--primary); } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(3) { position: relative; margin-top: 20px; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(3) input { width: 100%; height: 50px; border-radius: 8px; border: 1px solid var(--purple-400, #8b71e3); padding-left: 10px; margin-top: 8px; outline: none; } 
.pg_sign.find main .bottom .wrap_label label[title="인증 번호"] { display: none; } 
.pg_sign.find main .bottom .wrap_label label[title="인증 번호"].active { display: block; } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(3)::before { display: block; content: attr(title); } 
.pg_sign.find main .bottom .wrap_label label:nth-of-type(3) .timer { position: absolute; top: 45px; right: 20px; color: var(--purple-400, #8b71e3); text-align: center; font-size: 12px; font-weight: 400; } 

/* find_result */
.pg_sign.find_result main .bottom > div { border-radius: 8px; background: var(--basic-bg-color, #f5f6f9); height: 50px; line-height: 50px; text-align: center; color: #333; font-size: 14px; font-weight: 500; } 
.pg_sign.find_result main .bottom > button { border-radius: 8px; border: 1px solid var(--connectors-main-color, #6E4DDC); background: var(--basic-white, #FFF); width: 100%; height: 50px; color: var(--purple-600, #583EB0); text-align: center; font-size: 18px; font-weight: 600; margin-top: 25px; } 
.pg_sign.find_result main .bottom > button.btn_action { background: var(--connectors-main-color, #6E4DDC); color: var(--basic-white, #FFF); text-align: center; font-size: 18px; margin-top: 15px; } 
