<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="shortcut icon" href="/public/img/common/img_favicon.ico" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/contents.css">

    <!-- js -->
    <script src="/public/jquery/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="/common.js"></script>
    <script src="/public/js/contents.js"></script>

</head>

<body class="pg_contents"><input type="hidden" id="input_page" value="contents">
    <header>
        <a href="javascript:window.history.back();"><img src="/public/img/common/back.svg" alt="back"></a>
        <h1 onclick="location.href='./home.html'"><img src="/public/img/common/logo.png" alt="logo"></h1>
        <img src="/public/img/common/user_gray.svg" alt="user_gray">
    </header>
    <main>

        <section class="top">                

            <div class="wrap_button">
                <button type="button" class="active">전체</button>
                <button type="button">전략/기획</button>
                <button type="button">마케팅</button>
                <button type="button">프로그래밍</button>
                <button type="button">창업/N잡</button>
                <button type="button">HR</button>
                <button type="button">디자인</button>
            </div>

        </section>

        <section class="contents">

            <h2>최신 콘텐츠</h2>

            <div class="wrap_item">

                <!-- <div class="item">

                    <div class="wrap_img">
                        <img src="/public/img/expert_detail/contents_item.png" alt="contents_item">
                        <img src="/public/img/expert_detail/naver-blog.png" alt="naver-blog">
                    </div>

                    <div class="wrap_p">
                        <p>data.author &nbsp;|&nbsp;  data.date</p>
                        <p>data.title</p>
                        <p>data.postType</p>
                    </div>

                </div> -->

            </div>
  
        </section>

    </main>
    <nav class="fnb"></nav>
</body>

</html>