<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css" />
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/coupon.css">

  <!-- js -->
  <script src="/public/jquery/jquery-3.6.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <script src="/index.js"></script>
</head>

<body class="pg_coupon_register">
  
  <header>
    <a href=""><img src="/public/img/common/back.svg" alt="back"></a>
    <h1>쿠폰 등록</h1>
    <span></span>
  </header>

  <main>
    <div class="middle">
      <p>쿠폰 코드를 입력해주세요</p>
    </div>

    <div class="bottom">

      <div class="wrap_label">

        <label class="label" title="쿠폰코드">
          <input type="text" id="id" placeholder="쿠폰코드 입력">
        </label>

      </div>

    </div>

  </main>

  <button type="button" class="btn_action">등록</button>

</body>

</html>