<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="shortcut icon" href="/public/img/common/img_favicon.ico" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/home.css">

    <!-- js -->
    <script src="/public/jquery/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script src="/public/js/auth.js"></script>
    <script src="/public/js/home.js"></script>

</head>

<body class="pg_home"><input type="hidden" id="input_page" value="home">
    <header>
        <a href="javascript:window.history.back();"><img src="/public/img/common/back.svg" alt="back"></a>
        <h1><img src="/public/img/common/logo.png" alt="logo"></h1>
        <img src="/public/img/common/user_gray.svg" alt="user_gray" onclick="location.href = '/views/mypage.html';">
    </header>
    <main>

        <section class="top">

            <div class="slide_main swiper">
                <div class="swiper-wrapper" id="swiper-wrapper">
                    <a href="" class="swiper-slide"><img src="/public/img/home/banner01.png" alt="banner01"></a>
                    <a href="" class="swiper-slide"><img src="/public/img/home/banner01.png" alt="banner01"></a>
                    <a href="" class="swiper-slide"><img src="/public/img/home/banner01.png" alt="banner01"></a>
                </div>
            </div>

            <div class="wrap_a">
                <a href="#">전략/기획</a>
                <a href="#">마케팅</a>
                <a href="#">프로그래밍</a>
                <a href="#">HR</a>
                <a href="#">창업/N잡</a>
                <a href="#">디자인</a>
            </div>

        </section>

        <section class="quiz">

            <h2>나만의 커리어 향상 리포트 받아보기</h2>

            <div class="box_thumbnail">

                <img src="" alt="item">

            </div>

            <button type="button">퀴즈 풀고 리포트 & 기프티콘 받기</button>

        </section>

        <section class="expert">

            <div class="flexbox">
                <h2><span>전문가</span> 살펴보기</h2>
                <a href='/views/expert.html'>더보기<img src="/public/img/common/arrow_more.svg" alt="arrow_more"></a>
            </div>

            <div class="wrap_item">

                <!-- <div class="item">
                    <img src="" alt="item">
                    <p>성공을 위한 컨설팅</p>
                    <p>#비지니스 #성공 #컨설팅</p>
                    <span class="like"></span>
                </div> -->

            </div>

        </section>

        <section class="contents">

            <div class="flexbox">
                <h2><span>콘텐츠</span> 살펴보기</h2>
                <a href="/views/contents.html">더보기<img src="/public/img/common/arrow_more.svg" alt="arrow_more"></a>
            </div>

            <div class="wrap_item">

                <!-- <div class="item">
                    <img src="" alt="item">
                    <p>성공을 위한 컨설팅</p>
                    <p>#비지니스 #성공 #컨설팅</p>
                    <span class="like"></span>
                </div> -->

            </div>

        </section>

    </main>
    <nav class="fnb"></nav>
</body>

</html>