<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>
  
  <!-- css -->
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/slick/slick.css" />
  <link rel="stylesheet" href="/public/slick/slick-theme.css" />
  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/intro.css">

  <!-- js -->
  <script src="/public/jquery/jquery-3.6.1.min.js"></script>
  <script src="/public/slick/slick.min.js"></script>
  <script src="/public/js/intro.js"></script>
  <script src="/public/js/common.js"></script>

</head>

<body>

  <div id="intro"></div>

  <main>

  <div class="slider">

    <div class="slide slide1">

        <p>든든한 지원군이
          늘 곁에 있어요</p>
        <p>성장 메이트, 전문가와 함께
          진정한 성장을 경험하세요!</p>

      </div>
      
      <div class="slide slide2">

        <p>성장방안을
          한 눈에 보여줘요</p>
        <p>커리어 향상 방안 리포트를 통해
          나만의 커리어 로드맵을 그릴 수 있어요!</p>
        
      </div>
    
    </div>

  </main>

  <button type="button" class="btn_action">다음</button>
    
</body>

</html>