<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>

    <!-- css -->
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/myinfo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css" />

    <!-- js -->
    <script src="/public/jquery/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script src="/public/js/myinfo.js"></script>
</head>

<body class="pg_myinfo">

    <header>
        <a href="javascript:window.history.back();"><img src="/public/img/common/back.svg" alt="back"></a>
        <h1>내 정보</h1>
        <span></span>
    </header>
    <main>

        <div class="middle">
            <p><span>nickname</span>님</p>
        </div>

        <div class="bottom">

            <div class="wrap_label">

                <label title="닉네임">
                    <input type="text" placeholder="닉네입 입력" id="nickname" readonly>
                    <button type="button" class="btn_change01">변경</button>
                </label>

                <label title="휴대폰 번호">
                    <input type="text" placeholder="-없이 숫자만 입력" id="phone" readonly>
                    <button type="button" class="btn_change02" onclick="sessionStorage.setItem('action', 'changemobile')">변경</button>
                </label>

                <label title="이메일">
                    <input type="text" placeholder="abc@naver.com" readonly>
                </label>

            </div>
            
        </div>
        
    </main>
    
</body>

</html>