<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="shortcut icon" href="/public/img/common/img_favicon.ico" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/mypage.css">

    <!-- js -->
    <script src="/public/jquery/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script src="/public/js/auth.js"></script>
    <script src="/public/js/mypage_review.js"></script>
</head>

<body class="pg_mypage_review">
    <header>
        <a href="/views/mypage.html"><img src="/public/img/common/back.svg" alt="back"></a>
        <h1>리뷰</h1>
        <span></span>
    </header>
    <main>

        <ul class="wrap_tab">
            <li class="active">작성 가능한 리뷰</li>
            <li>작성한 리뷰</li>
        </ul>

        <section class="review_to_write">

            <div class="wrap_item">

                <!-- <div class="item">
                    <div class="top">
                        <img src="" alt="item">
                        <div>
                            <p>성공을 위한 컨설팅</p>
                            <p>김장현<span>전문가</span></p>
                            <p>상담진행일 | 2023.11.04(토) 14:00:32</p>
                        </div>
                    </div>
                    <div class="bottom">
                     <button type="button" onclick="location.href='/views/review_create.html'">리뷰작성</button>
                    </div>
                </div> -->

            </div>

        </section>

        <section class="review_written">

            <div class="wrap_item">

                <!-- <div class="item">
                    <div class="top">
                        <img src="" alt="item">
                        <div>
                            <p>성공을 위한 컨설팅</p>
                            <p>김장현<span>전문가</span></p>
                            <p>상담진행일 | 2023.11.04(토) 14:00:32</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="wrap_star">
                            <img src="/public/img/common/star.svg" alt="star">
                            <img src="/public/img/common/star.svg" alt="star">
                            <img src="/public/img/common/star.svg" alt="star">
                            <img src="/public/img/common/star.svg" alt="star">
                            <img src="/public/img/common/star.svg" alt="star">
                        </div>
                        <p>컨설팅내용이 너무 좋았습니다. 다음에도 다시 한 번 신청해 컨설팅 받고 싶어요!</p>
                    </div>
                </div> -->

            </div>

        </section>

    </main>

</body>

</html>