<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>

    <!-- css -->
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/mypage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css" />

    <!-- js -->
    <script src="/public/jquery/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script src="/public/js/auth.js"></script>
    <script src="/public/js/mypage.js"></script>
</head>

<body class="pg_mypage verify_mobile">

    <header>
        <a href="javascript:window.history.back();"><img src="/public/img/common/back.svg" alt="back"></a>
        <h1>마이페이지</h1>
        <span></span>
    </header>
    <main>

        <div class="middle">
            <p>오늘도 커넥터즈하세요!</p>

            <div class="user" onclick="sessionStorage.setItem('from','mypage'); location.href='/views/sign_in.html';">
                <img src="/public/img/common/user.svg" alt="user">
                <span>로그인해주세요.</span>
                <img src="/public/img/common/arrow_right.svg" alt="arrow_right">
            </div>

            <div class="wrap_item">
                <div class="item require-login" data-href="/views/mypage_pay.html">
                    <img src="/public/img/common/purchase.svg" alt="purchase">
                    <span>구매관리</span>
                </div>
                |
                <div class="item require-login" data-href="/views/mypage_review.html">
                    <img src="/public/img/common/review.svg" alt="review">
                    <span>리뷰</span>
                </div>
                |
                <div class="item require-login" data-href="/views/mypage_coupon.html">
                    <img src="/public/img/common/coupon.svg" alt="coupon">
                    <span>쿠폰</span>
                </div>
            </div>


        </div>

        <div class="bottom">

            <div class="wrap_item">
                <div class="item">
                    <span>고객센터</span>
                    <img src="/public/img/common/arrow_right.gray.svg" alt="arrow_right">
                </div>
                <div class="item">
                    <span>약관</span>
                    <img src="/public/img/common/arrow_right.gray.svg" alt="arrow_right">
                </div>
            </div>
            
        </div>
        
    </main>
    
</body>

</html>