<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>

  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/coupon.css">

  <script src="/public/jquery/jquery-3.6.1.min.js"></script>
  <script src="/common.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {

    });

  </script>

</head>

<body class="pg_coupon">
  
  <header>
    <a href="javascript:window.history.back();"><img src="/public/img/common/back.svg" alt="back"></a>
    <h1>쿠폰</h1>
    <span></span>
  </header>

  <main>
    
    <div class="middle">

        <div class="wrap_coupon">

            <div class="coupon">
                <img src="/public/img/common/coupon_active.svg" alt="coupon_active">
                <div>
                    <p>화상상담 1회 무료 이용권</p>
                    <p>D - 10</p>
                    <p><span>32일남음</span> 2023.10.23~2023.1222</p>
                </div>
            </div>

            <div class="coupon">
                <img src="/public/img/common/coupon_active.svg" alt="coupon_active">
                <div>
                    <p>화상상담 1회 무료 이용권</p>
                    <p>D - 10</p>
                    <p><span>32일남음</span> 2023.10.23~2023.1222</p>
                </div>
            </div>

            <div class="coupon">
                <img src="/public/img/common/coupon_active.svg" alt="coupon_active">
                <div>
                    <p>화상상담 1회 무료 이용권</p>
                    <p>D - 10</p>
                    <p><span>32일남음</span> 2023.10.23~2023.1222</p>
                </div>
            </div>

            <div class="coupon">
                <img src="/public/img/common/coupon_active.svg" alt="coupon_active">
                <div>
                    <p>화상상담 1회 무료 이용권</p>
                    <p>D - 10</p>
                    <p><span>32일남음</span> 2023.10.23~2023.1222</p>
                </div>
            </div>

        </div>
    </div>

    <div class="bottom">

        <p>무료쿠폰을 신청하고 싶으시다면?<a href="#">쿠폰신청하기</a></p>

    </div>

  </main>



</body>

</html>