<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>

  <!-- css -->
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/sign.css">
 
  <!-- js -->
  <script src="/public/jquery/jquery-3.6.1.min.js"></script>
  <script src="/public/js/common.js"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script src="/public/js/sign_social.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      sessionStorage.setItem('action', 'signup');
    });
  </script>

</head>

<body class="pg_sign sign_up01">

  <main>
    <div class="top">
      <a href="javascript:window.history.back();"><img src="/public/img/common/back.svg" alt="back"></a>
    </div>

    <div class="middle">
      <p>회원가입 후
        진정한 성장을 경험하세요!</p>
    </div>

    <div class="bottom">
      <p class="bubble">
        ⚡️ 3초만에 빠른 회원가입
      </p>

      <div class="wrap_btn">

        <button id="buttonDiv" class="signup"></button>

        <button type="button" onclick="kakaoLogin();" class="btn_kakao signup"></button>

        <div class="wrap_text">
          <hr>
          <span>또는</span>
          <hr>
        </div>

        <button type="button" onclick="location.href='/views/verify_mobile.html'; sessionStorage.setItem('loginMethod','standard') " class="btn_email signup"></button>

        <div class="question">
          <p>커넥터즈 계정이 있으신가요?</p>
          <a href='/views/sign_in.html'>로그인</a>
        </div>

      </div>

    </div>

  </main>


</body>

</html>