<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>

  <!-- css -->
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css" />
  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/sign.css">

  <!-- js -->
  <script src="/public/jquery/jquery-3.6.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <script src="/public/js/common.js"></script>
  <script src="/public/js/sign_up03.js"></script>

</head>

<body class="pg_sign sign_up03">

  <header>
    <a href="javascript:window.history.back();"><img src="/public/img/common/back.svg" alt="back"></a>
    <h1>회원가입</h1>
    <span></span>
  </header>

  <main>
    <div class="middle">
      <p>회원가입 후
        진정한 성장을 경험하세요!</p>
    </div>

    <div class="bottom">

      <div class="wrap_label">

        <label class="label">
          <input type="text" id="id" placeholder="이메일 주소 입력">
        </label>

        <label class="label">
          <input type="password" id="password01" placeholder="비밀번호 입력">
          <img src="/public/img/signup/eye_gray.svg" alt="eye_gray" class="toggle_pw01">
        </label>
        <p></p>

        <label class="label">
          <input type="password" id="password02" placeholder="비밀번호 재입력">
          <img src="/public/img/signup/eye_gray.svg" alt="eye_gray" class="toggle_pw02">
        </label>


      </div>

    </div>

  </main>


  <button type="button" class="btn_action" id="btnSignUp">회원가입</button>


</body>

</html>