<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>

    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/sign.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css" />

    <script src="/public/jquery/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {

            const action = sessionStorage.getItem('action');

            if(!action){
                location.href="/views/index.html";
            }

            var chkAll = document.getElementById('chkAll');
            window.addEventListener('pageshow', function() {
                if (chkAll.checked) {
                    chkAll.checked = false;
                }
            });

            sessionStorage.removeItem('phoneNumber');
            sessionStorage.removeItem('signupMethod');
            sessionStorage.removeItem('terms');

            // phone
            document.getElementById('phone').addEventListener('keyup', function() {
                var numericValue = this.value.replace(/[^0-9]/g, '');
                var formattedValue = numericValue.replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/, "$1-$2-$3");
                formattedValue = formattedValue.replace("--", "-");
                this.value = formattedValue;
            });

            // chk
            var chkAll = document.getElementById('chkAll');
            var labelForChkAll = document.querySelector('label[for="chkAll"]');
    
            chkAll.addEventListener('change', function() {
                labelForChkAll.style.backgroundColor = chkAll.checked ? '#8B71E3' : '';
            });

            // ask verification
            document.querySelector('.btn_ask').addEventListener('click', async function() {
                try {
                    var phoneNumber = document.getElementById('phone').value.trim();
                    var chkAll = document.getElementById('chkAll');

                    if (phoneNumber === '') {
                        throw new Error('휴대폰 번호를 입력해주세요.');
                    }

                    if (!chkAll.checked) {
                        throw new Error('휴대폰 인증 이용약관에 동의해주세요.');
                    }

                    const checkResponse = await fetch(`http://43.201.79.49/users/mobile/${phoneNumber}`, {
                        method: 'GET'
                    });
                    const checkData = await checkResponse.json();

                    if (checkData.code !== 200 || checkData.data.result !== "ENABLE") {
                        throw new Error('휴대폰 번호가 이미 사용 중입니다.');
                    }

                    const authResponse = await fetch('http://43.201.79.49/users/mobile/authenticate', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ to: phoneNumber })
                    });
                    const authData = await authResponse.json();

                    if (authData.code === 200) {
                        alert('인증 코드가 전송되었습니다. 문자 메시지를 확인해주세요.');
                        document.querySelector('label[title="인증 번호"]').classList.add('active');
                    } else {
                        throw new Error('인증 코드 전송에 실패했습니다.');
                    }

                } catch (error) {
                    console.error('에러 발생:', error.message);
                    alert(error.message); 
                }
            });

            document.querySelector('.btn_action').addEventListener('click', async function() {
                try {
                    var phoneNumber = document.getElementById('phone').value.trim();
                    var verificationCode = document.getElementById('numberInput').value.trim();

                    if (verificationCode === '') {
                        throw new Error('인증번호를 입력해주세요.');
                    }

                    const response = await fetch('http://43.201.79.49/users/mobile/verification', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ mobile: phoneNumber, code: verificationCode })
                    });
                    const data = await response.json();

                    if (data.code === 200 && data.data === 'SUCCESS') {

                        Swal.fire({
                        html: ' 휴대폰 인증이<br>완료되었습니다.'
                        }).then(function (result) {
                            if (result.isConfirmed) {

                                document.getElementById('phone').value = '';
                                document.getElementById('numberInput').value = '';
        
                                if (action === 'signup') {
                                    window.location.href = '/views/sign_up02.html';
                                    sessionStorage.setItem('phoneNumber',phoneNumber);
                                    sessionStorage.setItem('signupMethod', 'standard');
                                } else if (action === 'findid') {
                                    window.location.href = '/views/find_id_result.html';
                                } else if (action === 'findpw') {
                                    window.location.href = '/views/find_pw_new.html';
                                }else if(action === 'changemobile'){
                                    window.location.href = '/views/myinfo.html';
                                    // 추가필요
                                }
                    
                            };
                        });

                    } else {
                        throw new Error('인증번호가 올바르지 않습니다.');
                    }
                } catch (error) {
                    console.error('에러 발생:', error.message);
                    alert(error.message);
                }
            });
         
        });

    </script>

</head>

<body class="pg_sign verify_mobile">

    <header>
        <a href="javascript:window.history.back();"><img src="/public/img/common/back.svg" alt="back"></a>
        <h1>휴대폰 인증</h1>
        <span></span>
    </header>
    <main>

        <div class="middle">
            <p>안전한 보호를 위해 
                휴대폰 인증을 진행해주세요.</p>
        </div>

        <div class="bottom">

            <div class="wrap_label">

                <label class="label" for="chkAll">
                    <input type="checkbox" id="chkAll">
                    <span>휴대폰 인증 이용약관 동의</span>
                </label>

                <label title="휴대폰 번호">
                    <input type="text" placeholder="-없이 숫자만 입력" id="phone">
                    <button type="button" class="btn_ask">인증번호 요청</button>
                </label>

                <label title="인증 번호">
                    <input type="text" placeholder="인증번호 입력" id="numberInput">
                    <!-- <span class="timer">02:56</span> -->
                </label>

            </div>
            
            
        </div>
        
    </main>
    
    <button type="button" class="btn_action">인증완료</button>
    
</body>

</html>