section { 
 padding: 25px 20px; 
 } 

section.top { 
 width: 320px; 
 padding: 0; 
 margin: 0 auto; 
 } 
section.top .wrap_text span { 
 font-size: 18px; 
 font-weight: 700; 
 line-height: normal; 
 } 

section.top .wrap_button { 
 display: flex; 
 flex-wrap: wrap; 
 justify-content: center; 
 gap:8px; 
 padding: 24px 0; 
 } 

section.top .wrap_button > button { 
 width: 66px; 
 height: 32px; 
 border-radius: 40px; 
 border: 1px solid var(--gray-gray-05, #E9E9E9); 
 font-size: 12px; 
 font-weight: 700; 
 color: var(--gray-gray-02, #686868); 
 } 

section.top .wrap_button > button.active { 
 border: 1px solid var(--connectors-main-color, #6E4DDC); 
 color: var(--connectors-main-color, #6E4DDC); 
 background-color: #EFEBFF; 
 } 

section select { 
 display: block; 
 margin-left: auto; 
 appearance: none; 
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15' fill='none'%3E%3Cpath d='M11.191 3.75L2.81011 3.75C2.17102 3.75 1.78271 4.39316 2.13057 4.88847L6.32103 10.9061C6.39399 11.0114 6.49493 11.0982 6.61444 11.1583C6.73396 11.2185 6.86818 11.25 7.00461 11.25C7.14105 11.25 7.27526 11.2185 7.39478 11.1583C7.5143 11.0982 7.61523 11.0114 7.68819 10.9061L11.8706 4.88847C11.9495 4.77696 11.994 4.64806 11.9994 4.51536C12.0049 4.38266 11.971 4.25107 11.9014 4.13449C11.8318 4.01792 11.7291 3.92066 11.6041 3.85299C11.479 3.78531 11.3363 3.74973 11.191 3.75Z' fill='%23CDCDCD'/%3E%3C/svg%3E"); 
 background-repeat: no-repeat; 
 background-position: right; 
 border: 0; 
 outline: none; 
 padding-right: 35px;; 
 } 

section h2 { 
 font-size: 18px; 
 font-weight: 600; 
 } 

section h2 span { 
 color: var(--primary); 
 font-size: 18px; 
 font-weight: 600; 
 } 

section > .flexbox { 
 display: flex; 
 justify-content: space-between; 
 margin-top: 16px; 
 } 
section > .flexbox > span { 
 display: flex; 
 align-items: center; 
 color: var(--gray-gray-03, #999); 
 font-size: 12px; 
 font-weight: 500; 
 } 

.wrap_tab { display: flex; align-items: center; } 
.wrap_tab li { display: flex; justify-content: center; align-items: center; width: 33.33%; height: 50px; border-bottom: 1px solid var(--gray-gray-04, #cdcdcd); color: var(--gray-gray-02, #686868); text-align: center; font-size: 16px; font-weight: 500; cursor: pointer; } 
.wrap_tab li.active { border-bottom: 1px solid var(--gray-gray-04, #6e4ddc); color: var(--connectors-main-color, #6e4ddc); font-weight: 600; } 


/* pg_contents */
section.contents { padding: 0 15px 30px; } 
section.contents .wrap_item { display: flex; flex-direction: column; gap: 24px 0; margin-top: 16px; } 
section.contents .wrap_item .item { border-radius: 8px; border: 1px solid var(--gray-gray-05, #e9e9e9); } 
section.contents .wrap_item .item .wrap_img { border-radius: 8px 8px 0px 0px; position: relative; } 
section.contents .wrap_item .item .wrap_img img:nth-of-type(1) { width: 100%; } 
section.contents .wrap_item .item .wrap_img img:nth-of-type(2) { position: absolute; bottom: -30px; right: 10px; z-index: 9; } 
section.contents .wrap_item .item .wrap_img .like { 
 position: absolute; 
 top: 10px; 
 right: 10px; 
 display: block; 
 width: 25px; 
 height: 25px; 
 background-repeat: no-repeat; 
 background-position: center; 
 background-size: cover; 
 background-image: url(/public/img/common/like.svg); 
 } 

section.contents .wrap_item .item .wrap_img .like.active { background-image: url(/public/img/common/like_active.svg); } 

section.contents .wrap_item .item .wrap_p { padding: 20px 15px; } 
section.contents .wrap_item .item .wrap_p p:nth-of-type(1) { color: var(--gray-gray-03, #999); font-size: 14px; font-weight: 400; } 
section.contents .wrap_item .item .wrap_p p:nth-of-type(2) { font-size: 18px; font-weight: 600; margin-top: 4px; } 
section.contents .wrap_item .item .wrap_p p:nth-of-type(3) { color: var(--connectors-main-color, #6e4ddc); font-size: 12px; font-weight: 500; margin-top: 12px; } 




