.pg_pay section > span{
    color: var(--gray-gray-03, #999);
    font-size: 12px;
    margin-top: 24px;
}

.pg_pay section{
    padding: 0 20px;
}

.pg_pay .wrap_p{
    padding-top: 20px;
}

.pg_pay .wrap_p p{
    color: var(--Basic-Black, #222);
    font-size: 16px;
    font-weight: 700;
}

.pg_pay .wrap_item{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.pg_pay .wrap_item .item{
    position: relative;
    width: calc(50% - 7.5px);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 8px;
}

.pg_pay .wrap_item .item img{
    width: 100%;
}
